<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myFBReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <myFBReader.Properties.Settings>
            <setting name="RussianOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthorsFilename" serializeAs="String">
                <value>authors.txt</value>
            </setting>
            <setting name="TItlesFilename" serializeAs="String">
                <value>titles.txt</value>
            </setting>
            <setting name="LetterIndexFilename" serializeAs="String">
                <value>letter_index.txt</value>
            </setting>
            <setting name="ReaderName" serializeAs="String">
                <value>cr3.exe</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value>Download</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
        </myFBReader.Properties.Settings>
    </userSettings>
</configuration>